<tr class="fields">
  <td class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </td>
  <td class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </td>
  <td class="field">
    <%= f.label :imageurl %>
    <%= f.text_field :imageurl %>
  </td>
    <td class="field">
        <%= f.hidden_field :_destroy %>
        <%= link_to_remove_fields "remove", f %>
    </td>
</tr>