<h1>Listing groupmaps</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Speaker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupmaps.each do |groupmap| %>
  <tr>
    <td><%= groupmap.group_id %></td>
    <td><%= groupmap.speaker_id %></td>
    <td><%= link_to 'Show', groupmap %></td>
    <td><%= link_to 'Edit', edit_groupmap_path(groupmap) %></td>
    <td><%= link_to 'Destroy', groupmap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groupmap', new_groupmap_path %>
