<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @download.name %>
</p>

<p>
  <b>Url:</b>
  <%= @download.url %>
</p>

<p>
  <b>Group:</b>
  <%= @download.group %>
</p>

<p>
  <b>Group:</b>
  <%= @download.group %>
</p>

<p>
  <b>Subgroup:</b>
  <%= @download.subgroup %>
</p>

<p>
  <b>Icon:</b>
  <%= @download.icon %>
</p>


<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
