<h1>Listing abstractnmaps</h1>

<table>
  <tr>
    <th>Abstract</th>
    <th>Speaker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abstractnmaps.each do |abstractnmap| %>
  <tr>
    <td><%= abstractnmap.abstract_id %></td>
    <td><%= abstractnmap.speaker_id %></td>
    <td><%= link_to 'Show', abstractnmap %></td>
    <td><%= link_to 'Edit', edit_abstractnmap_path(abstractnmap) %></td>
    <td><%= link_to 'Destroy', abstractnmap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Abstractnmap', new_abstractnmap_path %>