<p id="notice"><%= notice %></p>

<p>
  <b>Abstract:</b>
  <%= @abstractnmap.abstract_id %>
</p>

<p>
  <b>Speaker:</b>
  <%= @abstractnmap.speaker_id %>
</p>


<%= link_to 'Edit', edit_abstractnmap_path(@abstractnmap) %> |
<%= link_to 'Back', abstractnmaps_path %>
