<h1>Listing sessionmaps</h1>

<table>
  <tr>
    <th>Session</th>
    <th>Speaker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessionmaps.each do |sessionmap| %>
  <tr>
    <td><%= sessionmap.session_id %></td>
    <td><%= sessionmap.speaker_id %></td>
    <td><%= link_to 'Show', sessionmap %></td>
    <td><%= link_to 'Edit', edit_sessionmap_path(sessionmap) %></td>
    <td><%= link_to 'Destroy', sessionmap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sessionmap', new_sessionmap_path %>
